<div class="app-login" *ngIf="isShowLogin$ | async as isShowLogin">
    <div class="app-login_wrapper">
        <div class="app-login_header">
            <span class="application_name">Movieflix - Star Wars</span>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="authenticationService.login(loginForm.value)" autocomplete="off">
            <div class="app-login_form">
                <mat-form-field appearance="outline">
                    <mat-label>User</mat-label>
                    <input matInput formControlName="userName">
                    <span matSuffix>
                        <mat-icon class="mat-18">account_box</mat-icon>
                    </span>
                    <mat-error *ngIf="loginForm.controls['userName'].invalid">User required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <span matSuffix>
                        <mat-icon class="mat-18">lock</mat-icon>
                    </span>
                    <mat-error *ngIf="loginForm.controls['password'].invalid">Type a password</mat-error>
                </mat-form-field>
                <button mat-raised-button color="accent" type="submit" value="Login"
                    [disabled]="loginForm.invalid">LOGIN</button>
            </div>
        </form>
    </div>
</div>